.block__parent1 {
  background: linear-gradient(pink, #8473cc);
  height: 100vh;
}

.block__child1 {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
  height: 100%;
  width: 100%;
  /* margin: auto; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.block{
  height: 100%;
  width: 100%;
  background: local url("https://picsum.photos/200/300?grayscale") center / auto no-repeat,
    linear-gradient(#ffffff, #000);
}

